<h1>List of books</h1>
{% if books|length is same as 0   %}<h3>No books found </h3>
{% else %}
	
<table border="2">
<tr>

<td><h3>Title</h3></td>
<td><h3>category</h3></td>
<td><h3>publication date</h3></td>
<td><h3>published</h3></td>
<td><h3>author</h3></td>
<td><h3>actions</h3></td>


</tr>
{% set  pt = 0 %}
{% set  pf = 0 %}

{% for a in booksp %}
{% set pt = pt + 1 %}

   
<tr>
<td>{{a.title}}</td>
<td>{{a.category}}</td>
<td>{{a.publicationDate|date('F j Y H:i')}}</td>
<td>{{a.published}}</td>
<td>{{a.author.username}}</td>

<td><a href="{{path('edit',{'id':a.ref }) }}">
			edit
		</a>
       <a href="{{path('delete',{'id':a.ref }) }}">
			delete
		</a><a href="{{path('show',{'id':a.ref }) }}">
			sho
		</a></td>
</tr>
{% endfor %}

{% for b in booksnp %}
{% set pf = pf + 1 %}
{% endfor %}


</table>
<h2> Number of published books : {{pt}}</h2>
<h2> Number of non published books : {{pf}}</h2>
{% endif %}
<a href="{{ path('addBook') }}">Add book</a>